spring:
  application:
    name: task-manager
  data:
    mongodb:
      uri: mongodb+srv://<username>:<password>@<cluster>.mongodb.net/taskmanagerdb?retryWrites=true&w=majority

server:
  port: 8080

logging:
  level:
    root: INFO
    com.luis.taskmanager: DEBUG